
@{
    Layout = null;
}
<div class="footer">
    <div class="wrap">
        <div class="section group">
            <div class="col_1_of_4 span_1_of_4">
                <h4>Information</h4>
                <ul>
                    <li><a href="/TrangChu/index">Trang chủ</a></li>
                    <li><a href="/TinTucGiaoDuc/Index">Tin tức</a></li>
                    <li><a href="#">Tra cứu đề thi</a></li>
                    <li><a href="/TaiLieuHocTap/index">Tài Liệu Học Tập</a></li>
                    <li><a href="/ThongBao-Client/index">Thông báo</a></li>
                    <li><a href="/LienHe/Create">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col_1_of_4 span_1_of_4">
                <h4>Phone Number</h4>
                <ul>
                    <li><span>0126-662-4512</span></li>
                </ul>
                <div class="social-icons">
                    <h4>Theo Dõi Trang Web</h4>
                    <ul>
                        <li><a href="https://www.facebook.com/hoangbuutran66" target="_blank"><img src="/Assets/Client/Client1/images/facebook.png" alt="facebook" /></a></li>
                        <li><a href="#" target="_blank"><img src="/Assets/Client/Client1/images/twitter.png" alt="twitter" /></a></li>
                        <li><a href="#" target="_blank"><img src="/Assets/Client/Client1/images/skype.png" alt="skype" /> </a></li>
                        <li><a href="#" target="_blank"> <img src="/Assets/Client/Client1/images/dribbble.png" alt="dribbble" /></a></li>
                        <li><a href="#" target="_blank"> <img src="/Assets/Client/Client1/images/linkedin.png" alt="linkedin" /></a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copy_right">
        <p>@DateTime.Now.Year © All rights Reseverd | Design by Hoàng Bửu Trần </p>
    </div>
</div>

