@{
    Layout = null;
}

<div class="col-md-6" id="logo">
    <a href="/TrangChu/Index"><img src="/Assets/Client/Client1/images/AnhLoGo.png" alt="Trắc nghiệm online" /></a>
</div>
<div class="col-md-6" id="xinchao">
    
    <p style="float: right" id="loichao">
        Chào mừng đến với trang web của chúng tôi<span></span>
    </p>
    <div class="search_box">
        <form>
            <input type="text" placeholder="Tìm Kiếm Đề Thi" value="" ><input type="submit" value="">
        </form>
    </div>
</div>
