@using Model.EF

@{
    Layout = null;
    var dsdethi = (IOrderedQueryable<DETHI>)ViewBag.dethilist;
    int i = 0;
}

<div class="col-md-4">
    <div>
        <h3><strong>Đề thi trắc nghiệm mới</strong></h3>
        <ul style="list-style:none;">
            @foreach (var item in dsdethi)
            {
                i++;
                if (i < 8)
                {
                    <li style="margin-bottom:10px;" class="clearfix">
                        <i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i> <a href="/TrangChu/XemDeThi/@item.IDDETHI">@item.TENDETHI</a>
                    </li>
                }
            }
        </ul>
    </div>

    <div class="clear"></div>
</div>