
@{
    Layout = null;
}

<div class="header_bottom">
    <div class="menu">
        <ul id="menutop">
            <li class="active"><a href="/TrangChu/index" alt="trang chủ">Trang Chủ</a></li>
            <li><a href="/TinTucGiaoDuc/Index">Tin Tức Giáo Dục</a></li>
            <li><a href="/ThongBao-Client/index">Thông Báo</a></li>
            <li><a href="/TaiLieuHocTap/Index">Tài Liệu Môn Thi</a></li>
            <li><a href="/LienHeClient/Create">Liên hệ</a></li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="clear"></div>
</div>
