@using Model.EF

@{
    ViewBag.Title = "DSDeThiCNDH";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
    var monthi = (List<CT_CHUYENNGANH_MON>) ViewBag.monthi;
    var dethi = (List<DETHI>)ViewBag.dethi;    
}

@foreach (var itemmon in monthi)
{
    <div class="page-header">
        <div class="row">
            <div class="col-lg-9" id="dsdethi">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Danh sách đề thi môn: @itemmon.MONTHI.TENMON
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <div class="panel-heading">
                                    Thi Thử Trắc Nghiệm
                                </div>
                                </thead>
                                <tbody>
                                @foreach (var item in dethi.Where(x=>x.MONTHI.IDMON == @itemmon.IDMON))
                                {
                                    <tr>
                                        <td class="col-md-1">
                                            <strong>Số câu:</strong> @item.SOCAU.SOCAU1
                                        </td>
                                        <td class="col-md-8">
                                            <strong>Tên Đề thi: </strong> @item.TENDETHI
                                        </td>
                                        <td class="col-md-3">
                                            <a href="/TrangChu/XemDeThi/@item.IDDETHI">Vào Thi ></a>
                                        </td>
                                    </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
